* {
	transition: all 0.3s ease;
}

body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	color: #333;
	padding: 1em;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
	width: 90%;
	margin: auto;
}

.img-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 2em;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	max-width: 40vw;
}

.img-container img {
	max-width: 100%;
	max-height: 50vh;
	object-fit: contain;
	margin: auto;
	cursor: pointer;
}

.full-width {
	grid-column: span 4; /* Matches grid setup */
	max-width: 100%;
}

.full-width img {
	max-width: 100%;
	max-height: 80vh;
	object-fit: contain;
	margin-right: 2em;
}

.json-data {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: auto 1fr;
}

.data-label {
	font-weight: bold;
	margin-right: 1em;
}

.data-value {
	font-weight: normal;
	background-color: #f0f0f0;
	padding: 0.2em 0.5em;
	border-radius: 4px;
	white-space: pre-wrap;
	word-break: break-word;
}

.cursor {
	cursor: pointer;
}

@media (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
	}

	.img-container {
		flex-direction: column;
		max-width: 90vw;
	}

	.img-container img {
		margin-bottom: 2em;
		margin-right: 0;
	}
}
